JWT_SECRET_KEY=
PORT=
# database postgresql
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# adminer
ADMINER_PORT=

# mailpit
MP_WEB_PORT=
MP_SMTP_PORT=
MP_MAX_MESSAGES=
MP_DATABASE=